DirectoryIndex blog_my.py

RewriteEngine On

# if you're testing or using blog_my within a subdirectory, uncomment this
RewriteRule /blog_my$ /blog_my/blog_my.py [L]

# allowed extensions
RewriteCond %{REQUEST_URI} !\.(css|html|gif|jpg|jpeg|png|js)$

# allowed other
RewriteCond %{REQUEST_URI} !/blog_my/blog_my.py
RewriteRule (.*) /blog_my/blog_my.py/$1 [L]
